body > header {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d3def0;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}

header h2 {
  margin: 0;
}


