body > header {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  flex-direction: column;
  background-color: #6f95d1;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header div img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  padding-top: 10%;
  padding-bottom: 5%;
  align-content: center;
  justify-content: center;
}

header h2 {
  margin: 0;
  font-size: 1.5em;
  justify-content: center;
  padding-bottom: 5%;
  color: white;
}

@media (min-width: 1024px) {
  body > header {
    height: 40%;
    width: 60%;
    margin-left: 5%;
    margin-top: 5%;
  }
}