/* button and counter */
.form-footer {
  display: flex;
  justify-content: space-between; 
  font-weight: 600;
}


/* button */
input {
  background-color: #24a0ed;
  color: white;
  text-transform: uppercase;
}

section {
  width: 100%; 
}

textarea {
  /* box-sizing: border-box; */
  border: 0px;
  resize: none;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  align-self: center;
  border-bottom: 2px solid #4D4E4F; 
  outline: none;
  /* JQUERY TO RESIZE WITH TEXT INPUT $('textarea').autoResize(); */
}



